.company-list {
    display: flex;
    flex-wrap: wrap;
}

.company {
    color: $grey-blue;
    padding: $gutter;

    @include small-only {
        &:nth-child(odd) {
            background-color: $light-blue;
        }
    }

    @include medium {
        width: 50%;

        &:nth-child(4n),
        &:nth-child(4n+1) {
            background-color: $light-blue;
        }
    }
    

    &__logo {
        display: block;
        margin: 0 auto $gutter auto;
    }

    &__title {
        font-family: $font-title;
        margin-bottom: $gutter;
    }

    &__text {
        padding: 0;
    }
}