
$blue: #00d4ff;
$light-blue: #ebf0fb;
$dark-blue: #6489df;
$grey-blue: #242943;
$violet: #8d82c4;
$red: #e56555;
$yellow: #de9d5e;
$green: #65b48a;
$white: white;
$grey: #CCC;
$dark-grey: #222;
$black: #000;

// couleur dérivées
$translucent-dark: rgba($grey-blue, 0.7);